@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

$background1 : #ECFAFF;
$primaryfont : 'Open Sans', sans-serif;
$secondaryfont : 'Rubik', sans-serif;
$textColor1 : #585858;
$textColor2 : #0D0D2D ;


@mixin reset-list {
    margin: 0;
    padding: 0;
    list-style: none;
  }
@mixin title {
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    color: $textColor2;
}
@mixin titleMobil {
    font-size: 35px !important;
    font-weight: 400;
    line-height: 35px !important;
    color: $textColor2;
}
@mixin subtitle {
        font-size: 25px;
        line-height: 27.5px;
        color: #C38976;
        font-weight: 400;
}

@mixin text {
        font-size: 17px;
        font-weight: 300;
        line-height: 24.82px;
}

body {
    @include reset-list;
    font-family: 'Open Sans', sans-serif;
}

.logo {
    width: 100px;
    height: 94px;
}
.header{
    height: 120px;
    display: flex;
    align-items: center;
    background-color: $background1;
}

.menu__list{
    font-weight: 300;
    list-style:none ;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 40px 0px;
    
    color: $textColor1;
    font-size: 14px;
    
    li:hover{
        font-weight: 700;
        cursor: pointer;
        transition: all 0.2s ;
        
    }
}
.menu__left {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 25px;
    color: $textColor2;
    font-weight: 300 !important;
    font-family: $primaryfont;
}
.menu__line{
    width: 0.20px;
    height: 24px;
    background-color:$textColor2;
    
}
.hamburger__language {
            font-size:15px;
            text-align:center;
            font-family: 'Open Sans', sans-serif;
            font-weight: 600;
}
.asteriahotel__img {
    max-height: 600px;
    
}
.section1 {
    margin: 214px 0;

    div {
        padding-bottom: 5px;
    }
}
.section1__left {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: space-evenly;

    .section1__title{
        @include title;
    }
    .section1__subtitle {
        @include subtitle;

    }
    .section1__text {
        @include text;

        p {
            padding: 5px 0;
        }
    }
}
.section2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 214px;
    
    div{
        padding-bottom: 10px;
    }

    .baslik{
        @include title;
    }
    .altbaslik{
        @include subtitle;
    }
    div:nth-child(3){
        @include text;
        padding: 0 50px;
        margin-bottom: 10px;
        
    }
   
    div:nth-child(4) {
        display: flex;
        justify-content:right;
        .section2__orangebox{
            position: absolute;
            margin-top: 57px;
            margin-right: 0;
            width:500px ;
            height: 100px;
            background-color:#E7A954 ;
            z-index: 2;
            text-align: left;
            padding: 0 40px; 
            display: flex;
            justify-content: space-between;
            align-items: center;

            &:hover {
                transition: all 0.5s ;
                cursor: pointer;
                padding: 0 30px 0 48px;
                               
            }

            p:first-child{
                font-size: 36px;
                line-height: 36px;
                color: $textColor2;
            }
            p:nth-child(2) {
                font-size: 24px;
                line-height: 26px;
                color: #fff;
                margin-top: -9px;
            }
            .section2__icon {
                width: 60px;
                height: auto;
                padding: 7px;
                border: 1px solid #000;
                border-radius: 50px;
            }


        }
    }
}
.section3 {
    height: 180px;
    background-color: #F8F8F8;
   
}
.owl__items{
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    align-items: flex-end;
    z-index: 10;
    h3{
        text-align: right;
        font-size: 14px;
        font-family: $secondaryfont;
    }
  
    .carousel__img  
    {      
        height: 219px; 
        border-radius: 8px;
       
    }
    
    .owl__icon {
        width: 40px !important;
        margin-top: -20px;
        margin-right: 10px;
        cursor: pointer;
    }
    
}
.section3__logo{
    width: 100px;
    height: 94px;
}
.section3__items {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 180px;
    justify-content: space-evenly;
    padding: 20px;
    padding-top: 30px;
    
    
    
    p{
        font-family: $primaryfont;
        font-size: 14px;
        font-weight: 300;
        text-align: center;
    }
}
.section3__owl {
    margin-top: 30px !important;
}

.footer{
    background-color: #DEF6FF;
    .footer__intro {
        padding-top: 110px;
    }
    .footer__list {
        font-family: $secondaryfont;
        font-weight: 300;
        list-style:none ;
        border-bottom: 1px solid #585858;
        display: grid;
        grid-template-columns: repeat(5,2fr);
        row-gap: 12px;
        padding: 20px 0px;
        color: $textColor1;
        font-size: 14px;
        li:hover{
            font-weight: 600;
            cursor: pointer;
            transition: all 0.3s ease;

            .footer__line {
                width: 58px;
                transition: all 0.7s ease;
            }
        }
       
    }
    .footer__list2 {
        font-family: $secondaryfont;
        font-weight: 300;
        list-style:none ;
        display: grid;
        grid-template-columns: 2fr 2fr 2fr;
        
        
        row-gap: 12px;
        padding: 20px 0px;
        color: $textColor1;
        font-size: 14px;
    
        li:hover{
            font-weight: 600;
            cursor: pointer;
            transition: all 0.3s ease;

            .footer__line {
                width: 58px;
                transition: all 0.7s ease;
            }
        }
    }
    .footer__line {
        width: 0px;
        height: 2px;
        background-color: #DFCDA5;

        
    }
    .footer__sub {
        font-family: $secondaryfont;
        font-weight: 300;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 14px;
        color: #585858;
    
        div:nth-child(2) {
            display: flex;
            align-items: center;
            font-weight: 300;
            color: $textColor1;
        }
    }
    
}

.navbar {
    display: flex;
}
.hamburger {
    display: none;
}
.asteriahotel__mobilimg{
    display: none;
}

//Responsive
@media (max-width:1398.98px) {
    .footer__list2 {
        grid-template-columns: 1.7fr 1.7fr 2fr !important;
    }
}

@media (max-width: 991.98px) { 
    .footer__sub{
        flex-direction: column;
    }
    .footer__list {
        grid-template-columns: repeat(3,2fr) !important;
    }
    .section2__orangebox {
        width: 45% !important;
    }
    .menu__left {
        display: none;
    }
    .menu__list {
        display: none !important;
    }
    .header__content{
        display: flex !important ;
        justify-content: flex-end;
        align-items:center;
    }
    .hamburger {
        display: block;
    }
    .footer__list2 {
        border-bottom: 1px solid #585858;
        
    }
    .footer__bottom {
        margin: 15px 0px ;
    }
    
 }

 @media (max-width: 767.98px) { 
    
    .footer{
        padding-top: 220px;
    }
    .baslik {
        text-align: left !important;
        @include titleMobil;
    }
    .section2 {
        text-align: left !important;
        
        
        
        div:nth-child(3){
            padding: 0 ;
        }
        .section2__orangebox {
            margin-top: 150px !important;
            height: 58px !important;
            width: 290px !important;
            div{
                padding-top: 5px;
                p:first-child{
                    font-size: 20px !important;
                    font-weight: 500 !important;
                }
                p:nth-child(2){
                    display: none;
                }

            }
            .section2__icon{
                width: 30px !important;
                padding: 5px !important;
            }
        }
    }
    .section1__title {
        @include titleMobil ;
    }
    .section3__items {
        align-items: flex-start !important;
        p{
            display: none;
        }
    }
    .footer__sub{
        
            .footer__bottom{
            text-align: center !important;
            
        }
    }
    
   
  }
  @media (max-width: 575.98px) { 
    .asteriahotel__img {
        display: none;
    }
    .asteriahotel__mobilimg {
        display: block;
    }
    .footer__list {
        grid-template-columns: repeat(2,2fr) !important;
    }
    .footer__list2 {
        grid-template-columns: repeat(2,1fr) !important;
    }
    .owl__items {
        h3{
            font-weight: 300 !important;
        }
    }
    .footer__bottom {
        margin-top: 10px;
    }
   }




